#skills {
    height:fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #ab {
        font-family: var(--my_font);
        border-bottom: 3px solid lightgrey;
        padding-bottom: 10px;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        margin: auto;

        &::after {
            height: 100%;
            content: "aft";
            color: transparent;
            top: 0.2px;
            position: absolute;
            border-bottom: 4px solid var(--org_color);

        }
    }

    #skill_container {
        height: 80%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        #para_container {
            height: fit-content;
            width: 90%;
            padding-left: 50px;
            // padding-top: 50px;
            position: relative;
            



            p {
                line-height: 1.4;
                margin-top: 20px;
                font-family: var(--my_font);
                color: var(--default_color);
                line-height: 1.5;


                &>span {
                    color: var(--org_color);
                    font-size: 1.2em;
                }
            }

        }

        #icon_container {
            height: 60%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding-bottom: 30px;
            margin-top: 10px;

            #row1,
            #row2 {
                height: 55%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 40px;

                #icon_img {
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    overflow: hidden;
                    display: flex;
                    background-color: lightblue;
                    align-items: center;
                    justify-content: center;
                    background-size: cover;
                    position: relative;
                    transition: all 0.5s;
                    margin-top: 10px;

                    &:hover {
                        top: 5px;
                        transition: all 0.5s;
                        background-color: var(--org_color);
                    }

                    img {
                        height:100%;
                        width: 100%;
                        object-fit: cover;
                        // border-radius: 50%;
                        // background-size: cover;
                    }
                }
            }
        }

    }

}